/* body{
    background-color: greenyellow;
}
.one{
    font-family: Tahoma;

}
#four{
    text-align: center;
}
#year{
    margin-left: -30px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    
}
#freshman{
    margin-left: 150px;
}
#sophomore{
    margin-left: 150px; 
}
#junior{
    margin-left: 150px; 
}
#senior{
    margin-left: 150px; 
}
#activity{
    margin-left: -30px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
   
}
#sport{
    margin-left: 150px;
}
#music{
    margin-left: 150px; 
}
#theater{
    margin-left: 150px; 
}
#others{
    margin-left: 150px; 
}
#comment{
    margin-left: -30px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    
}
#feedback{
    margin-left: 150px; 
}
#submit{
    margin-left: 180px; 
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
}
     */
     body{
        background-color: greenyellow;
     }
     #year{
        margin-left: -30px;
        margin-bottom: 40px;
        margin-top: 10px;
        padding: 10px;
        
    }
     .forms{
        background-color: antiquewhite;
        margin-left: 90px;
        margin-top: -50px;
        
     }
     .labels{
        margin-left: -20px;
        margin-bottom: 40px;
        margin-top: 10px;
        padding: 0px;
     }
     #fall{
        margin-left: -400px;
        margin-left: -120px;
     }